footer{
    background-color:#2C3E50;
    padding-top: 50px;
    padding-bottom: 50px;
}

.col-lg-4 h3{
    font-family: system-ui;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
}

.col-lg-4 p{
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.footer-p{
    background-color:#1A252F;
}

.footer-p p{
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: rgb(240, 248, 255);
}