
    <!-- Start Footer SECTION -->
    <footer id="footer">
        <div class="footer py-5">
            <div class="container"></div>
            <div class="row">
                <div class="col-lg-4 pt-5">
                    <div class="text-center text-white">
                        <h3>LOCATION</h3>
                        <p>2215 John Daniel Drive</p>
                        <p>Clark, MO 65243</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center text-white pt-5">
                        <h3>AROUND THE WEB</h3>
                        <div class="footer-icon d-flex justify-content-center">
                            <div class="d-flex justify-content-center align-items-center rounded-circle border border-white mx-1"
                                style="width: 40px; height: 40px;">
                                <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                            </div>
                            <div class="d-flex justify-content-center align-items-center rounded-circle border border-white mx-1"
                                style="width: 40px; height: 40px;">
                                <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                            </div>
                            <div class="d-flex justify-content-center align-items-center rounded-circle border border-white mx-1"
                                style="width: 40px; height: 40px;">
                                <i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i>
                            </div>
                            <div class="d-flex justify-content-center align-items-center rounded-circle border border-white mx-1"
                                style="width: 40px; height: 40px;">
                                <i class="fa-solid fa-globe" style="color: #ffffff;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center text-white pt-5">
                        <h3>ABOUT FREELANCER</h3>
                        <p>Freelance is a free to use, licensed Bootstrap theme created <br> by Route</p>
                    </div>
                </div>
            </div>
        </div>
        </footer>
        <div class="footer-p py-3">
            <div class="container"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-content text-center">
                        <p style="padding-top: 10px;">Copyright © Your Website 2021</p>
                    </div>
                </div>
            </div>
        </div>
    <!-- Start Footer SECTION -->
