body{
    overflow-x:hidden;
}

header{
    background-color: #1ABC9C;
    height: 98vh;
}

.header-caption h2{
    font-family: system-ui;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.line{
    height: 4px;
    width: 100px;
    margin-left: 510px;
}

.line2{
    height: 4px;
    width: 100px;
    margin-right: 510px;
}

.about-caption p{
    font-family: system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-align: left;
}



