
    <!-- Start HEADER SECTION -->
    <header id="contact">
        <div class="contact pt-5 min-vh-100">
            <div class="d-flex justify-content-center align-items-start">
                <div class="header-caption text-center">
                    <h2 class="text-uppercase mb-3" style="color: #2C3E50;">contact section</h2>
                    <div class="contact-style d-flex justify-content-between">
                        <div class="line my-2" style="background-color:#2C3E50 ;"><br></div>
                        <div class="contact-icon"><i class="fa-solid fa-star fa-lg" style="color: #2C3E50;"></i></div>
                        <div class="line2 my-2" style="background-color: #2C3E50;"></div>
                    </div>
                </div>
            </div>
                <div class="container mt-5">
                    <form>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label"></label>
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="User Name :">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label"></label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="User Age :">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label"></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="User Email :">
                          </div>
                          <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label"></label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="User Password :">
                          </div>
                        <button class="btn bg-teal text-white mt-3">Send Message</button>
                      </form>
                </div>        
            </div>
    </header>
    <!-- End HEADER SECTION -->
