<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Start HEADER SECTION -->
    <header id="portfolio" class="">
        <div class="portfolio pt-5 ">
            <div class="d-flex justify-content-center align-items-start">
                <div class="portfolio-caption text-center">
                    <h2 class="text-uppercase mb-3" style="color: #2C3E50;">portfolio component</h2>
                    <div class="portfolio-style d-flex justify-content-between">
                        <div class="line my-2" style="background-color:#2C3E50 ;"><br></div>
                        <div class="portfolio-icon"><i class="fa-solid fa-star fa-lg" style="color: #2C3E50;"></i></div>
                        <div class="line2 my-2" style="background-color: #2C3E50;"></div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="row g-5 pb-5">
                    <div class="col-lg-4">
                        <div class="gallery-img">
                        <img src="/images/poert1.png" style="width: 350px;" alt="">
                        <div class="layer">
                        <i class="fa-solid fa-plus fa-6x" style="color: #ffffff;"></i>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="gallery-img">
                        <img src="/images/port2.png" style="width: 350px;" alt="">
                        <div class="layer">
                        <i class="fa-solid fa-plus fa-6x" style="color: #ffffff;"></i>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="gallery-img">
                        <img src="/images/port3.png" style="width: 350px;" alt="">
                        <div class="layer">
                        <i class="fa-solid fa-plus fa-6x" style="color: #ffffff;"></i>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="gallery-img">
                        <img src="/images/poert1.png" style="width: 350px;" alt="">
                        <div class="layer">
                        <i class="fa-solid fa-plus fa-6x" style="color: #ffffff;"></i>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="gallery-img">
                        <img src="/images/port2.png" style="width: 350px;" alt="">
                        <div class="layer">
                        <i class="fa-solid fa-plus fa-6x" style="color: #ffffff;"></i>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="gallery-img">
                        <img src="/images/port3.png" style="width: 350px;" alt="">
                        <div class="layer">
                        <i class="fa-solid fa-plus fa-6x" style="color: #ffffff;"></i>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End HEADER SECTION -->
</body>

</html>