
    <!-- Start HEADER SECTION -->
    <header id="home">
        <div class="home pt-5">
            <div class="container d-flex justify-content-center align-items-center min-vh-100">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-caption text-center text-white">
                            <img src="/images/avataaars.svg" style="width: 250px;" class="mb-3 " alt="avataaars">
                            <h2 class="text-uppercase mb-3">start Framework</h2>
                            <div class="home-style d-flex justify-content-between">
                                <div class="line my-2" style="background-color: white;"><br></div>
                                <div class="home-icon"><i class="fa-solid fa-star fa-lg" style="color: #ffffff;"></i></div>
                                <div class="line2 my-2" style="background-color: white;"></div>
                            </div>
                            <div class="home-caption py-3">
                                <p>Graphic Artist - Web Designer - Illustrator</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End HEADER SECTION -->